body {
  padding-top: 0;
  padding-bottom: 30px;
}
.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.border-radius { 

 	border-radius: 10px; 
 	border-color: #42fff6
}



.emoji{
	background:none;
	border:none; 
	padding:5px 5px 5px 5px;
	font-size: 60px;
	outline: none;
	-moz-transition:-moz-transform 0.05s ease-in; 
	-webkit-transition:-webkit-transform 0.05s ease-in; 
	-o-transition:-o-transform 0.05s ease-in;
  
}
.emoji:hover{
	-moz-transform:scale(1.5); 
	-webkit-transform:scale(1.5);
	-o-transform:scale(1.5);
	outline: none;
}

.input-emoji {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 5px;
  padding: 10px 10px 10px 10px;
  font-size: 48px;
  line-height: 1.42857143;
  color: #555;
 
  text-align: center;
  position: relative;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.input-emoji:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.input-emoji::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.input-emoji:-ms-input-placeholder {
  color: #999;
}
.input-emoji::-webkit-input-placeholder {
  color: #999;
}
.input-emoji[disabled],
.input-emoji[readonly],
fieldset[disabled] .input-emoji {
  background-color: #eee;
  opacity: 1;
}
.input-emoji[disabled],
fieldset[disabled] .form-emoji {
  cursor: not-allowed;
}

.form-emoji{
	width: 100%;
	height: auto;
	display: block;
	position: relative;
	padding: 10px;
	margin: 5px;
	align: center;
}


.centrato{
	margin:auto;
}

.vpadded{
	padding-top: 2em;
	padding-bottom: 2em;
}

.logo{
	margin-top:-20px;
}

.nascosto{
	display:none;
}

.visibile{
	display:block;
}